html, body {
  height: 100%;
  width: 100%;
}
/* Center time on page */
#parent {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#fontSelectors {
  margin-top: 20px;
  text-align: center;
  background-color: rgb(170, 135, 203);
  padding-top: 20px;
  padding-bottom: 20px;
}

#time {
  font-size: 50px;
  background-color: antiquewhite;
  padding: 50px;
  border-radius: 5%;
  border: 1px solid black;
}
  
#colon {
  animation: blink 0.5s linear infinite;
}

@keyframes blink {
  50% {
  opacity: 0;
  }
}