/* The alert message box */
.alert {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
}
  
/* The successful message box */
.success {
    padding: 20px;
    background-color: #0eaf44; /* Red */
    color: white;
    margin-bottom: 15px;
}
  
/* The information message box */
.information {
    padding: 20px;
    background-color: #274cc5; /* Red */
    color: white;
    margin-bottom: 15px;
}
  
/* The warning message box */
.warning {
    padding: 20px;
    background-color: #e0e968; /* Red */
    color: white;
    margin-bottom: 15px;
}
  
/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}
  
/* hover effects */
.closebtn:hover {
    color: black;
}